{{include file='common/head.html'}}
<script language="javascript">
function changePw()
{
	var pw = $("#webpasswd").val();
	if(pw=="")return;
	$.get( "?c=session&amp;a=changePassword&amp;passwd="+pw,
            function(data){ alert(data); }
        );
}
function changeDb()
{
	var pw = $("#dbpasswd").val();
	if(pw=="")return;
	$.get( "?c=session&amp;a=changeDbPassword&amp;passwd="+pw,
            function(data){ alert(data); }
        );
}
</script>

<div class="ep-content">
  <div class="ep-card">
    <div class="ep-card-header"><h3>修改密码</h3></div>
    <div class="ep-card-body">
      <form name='frm' action="javascript:changePw();" class="ep-form ep-max-w-form">
        <div class="form-group">
          <label>修改用户登录密码</label>
    <div class="controls">
            <input type='password' name='passwd' id='webpasswd' placeholder="请输入新密码" />
            <button type="submit" class="btn"><i data-lucide="check"></i> 确定</button>
          </div>
  </div>
      </form>

      {{if $db_limit}}
      <form name='frmdb' action="javascript:changeDb();" method="post" class="ep-form ep-mt-4 ep-max-w-form">
        <div class="form-group">
          <label>修改数据库密码</label>
    <div class="controls">
            <input type='password' name='passwd' id='dbpasswd' placeholder="请输入新密码" />
            <button type="submit" class="btn"><i data-lucide="check"></i> 确定</button>
          </div>
  </div>
      </form>
      {{/if}}
    </div>
  </div>
</div>
{{include file='common/foot.html'}}
