{{include file='common/head.html'}}
<script src='{{$STATIC}}js/anticc.js?v=2'></script>

<div class='pro_msg' style="display: none" id='msg'></div>

<div class="ep-content">
  <div class="ep-card">
    <div class="ep-card-header"><h3>防CC攻击设置</h3></div>
    <div class="ep-card-body">
      <form action='?c=anticc&a=anticcAdd' method='post' class="ep-form">
        <div class="form-group">
          <label>防CC开关</label>
    <div class="controls"><div>
            {{if $at==0}}
            <a href="javascript:anticc_checkon(1)" title='开启功能'>
              <span class="ep-switch is-off"><span class="track"></span><span>已关闭</span></span>
            </a>
            {{else}}
            <a href="javascript:anticc_checkon(2)" title='禁用功能'>
              <span class="ep-switch is-on"><span class="track"></span><span>已开启</span></span>
            </a>
            {{/if}}</div>
        </div>
  </div>
        <div class="form-group">
          <label>触发频率</label>
    <div class="controls"><select name='frequency' id='frequency' data-request='{{$cc.request}}' data-second='{{$cc.second}}'>
            <option value="">--未设置频率--</option>
            <option value="0,0">首次请求验证</option>
            <option value="20,10">10秒20次请求</option>
            <option value="50,10">10秒50次请求</option>
            <option value="100,10">10秒100次请求</option>
            <option value="diy">自定义</option>
          </select></div>
  </div>
        <div class="form-group">
          <label>请求次数</label>
    <div class="controls"><input name='request' value='{{$cc.request}}' id='request' /></div>
  </div>
        <div class="form-group">
          <label>单位时间</label>
    <div class="controls"><input name='second' value='{{$cc.second}}' id='second' />&nbsp;秒</div>
  </div>
        <div class="form-group">
          <label>防护模式</label>
    <div class="controls"><select name='mode' id='mode' data-mode='{{$cc.mode}}'>
            {{foreach from=$modes key=key item=row}}<option value="{{$key}}">{{$row}}</option>{{/foreach}}
          </select></div>
  </div>
        <div class="form-group">
          <label>白名单IP</label>
    <div class="controls"><textarea name='whiteip' id='whiteip' cols='80' rows='4' placeholder="没有请留空">{{$whiteip}}</textarea>
          <p class="help-text ep-text-danger">防CC白名单，IP格式: 一行一个 支持IP段: 127.0.0.0/24 或 127.0.0.1-127.0.0.255</p></div>
  </div>
        <div class="form-group">
          <label>白名单URL</label>
    <div class="controls"><textarea name='whiteurl' id='whiteurl' cols='80' rows='4' placeholder="没有请留空">{{$whiteurl}}</textarea>
          <p class="help-text ep-text-danger">一行一个URL，可填写URL中的一部分，支持正则</p></div>
  </div>
        <div class="form-group">
          <label>白名单后缀</label>
    <div class="controls"><input name='whiteext' value='{{$whiteext}}' id='whiteext'/>
          <p class="help-text ep-text-danger">多个文件后缀用|隔开</p></div>
  </div>
        <div class="form-group">
          <label></label>
    <div class="controls"><input type='button' value='保存设置' class="btn" onclick='anticc_add();'>
          {{if $cc!=null}}&nbsp;&nbsp;<input type='button' value='删除设置' class="btn btn-danger" onclick='anticc_del();'>{{/if}}</div>
  </div>
      </form>
    </div>
  </div>
</div>
{{include file='common/foot.html'}}
