{{include file='common/head.html'}}
{{assign var='layout_type' value='install'}}
<div class="ep-content">
  <div class="ep-card">
    <div class="ep-card-body" style="text-align:center;padding:48px 24px;">
      <div style="font-size:48px;margin-bottom:16px;"><i data-lucide="party-popper"></i></div>
      <div style="font-size:16px;color:var(--color-green);">kangle虚拟主机管理系统安装成功！</div>
      <a href='?c=session&a=loginForm' class="btn" style="margin-top:24px;"><i data-lucide="log-in"></i> 这里登录，进行管理。</a>
    </div>
  </div>
</div>
{{include file='common/foot.html'}}
