{{include file='common/head.html'}}

<div class="ep-content">
  <div class="ep-card">
    <div class="ep-card-header"><h3>程序安装</h3></div>
    <div class="ep-card-body">
      <div class="ep-alert ep-alert-warning ep-mb-4">
        您的域名{{$domain}}没有正确解析到节点IP:{{$node_ip}}上，可能无法正确安装程序
      </div>
      <div class="ep-table-responsive"><table class="table">
        <tbody>
          <tr>
            <td class="ep-text-center">[<a href='?c=webapp&a=install&step=0&force=1&appid={{$appid}}&dir={{$dir}}&appname={{$appname}}&appver={{$appver}}&domain={{$domain}}'>重新选过域名</a>]</td>
            <td class="ep-text-center">[<a href='?c=webapp&a=install&step=1&force=1&appid={{$appid}}&dir={{$dir}}&appname={{$appname}}&appver={{$appver}}&domain={{$domain}}'>点这里继续安装</a>]</td>
          </tr>
        </tbody>
      </table></div>
  </div>
</div>
{{include file='common/foot.html'}}
