{{include file='common/head.html'}}
<div class="ep-content">
  <div class="show_sync" style='display:none' id="sync"></div>
  <div class="ep-card">
    <div class="ep-card-header"><h3>DNS设置</h3></div>
    <div class="ep-card-body">
      <form action="" method="get" class="ep-form">
        <div class="form-group">
          <label>域名服务器类型:</label>
    <div class="controls">
    <label class="radio-inline"><input name="主域名服务器" type="radio" value="" checked />主域名服务器</label>
    <label class="radio-inline"><input name="辅域名服务器" type="radio" value="" />辅域名服务器</label>
  </div>
  </div>
        <div class="ep-flex ep-gap-2 ep-mt-4">
          <button type="button" class="btn" style="width:200px;"><i data-lucide="check"></i> 提交</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{include file='common/foot.html'}}
