{{include file='common/head.html'}}

<div class="ep-content">
  <div class="ep-card">
    <div class="ep-card-header"><h3>{{if $action=='addErrorPage'}}增加自定义错误{{else}}修改自定义错误{{/if}}</h3></div>
    <div class="ep-card-body">
      <form name='nodeform' action="?c=info&a={{$action}}" method="post" class="ep-form">
        <div class="form-group">
          <label>错误码</label>
    <div class="controls"><input type='text' name='name' value="{{$info.name}}">
          <p class="help-text">常见错误码: 404 没有找到文件</p></div>
  </div>
        <div class="form-group">
          <label>URL</label>
    <div class="controls"><input type='text' name='value' value="{{$info.value}}"></div>
  </div>
        <div class="form-group">
          <label></label>
    <div class="controls"><input type="submit" value="确定" class="btn"></div>
  </div>
      </form>
    </div>
  </div>
</div>
{{include file='common/foot.html'}}
